/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 100vh;
    color: #fff;
}

body {
    background-color: #000;
}

h1 {
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 2em;
}